In [1]:
import pandas as pd

In [2]:
my_data = pd.DataFrame({
    'type': ['A', 'A', 'B', 'B'],
    'value': [10, 14, 12, 23]
})

In [3]:
my_data

  type  value
0    A     10
1    A     14
2    B     12
3    B     23