In [38]:
import pandas as pd

In [45]:
my_stat = pd.read_csv('https://stepik.org/media/attachments/course/4852/my_stat_1.csv')

In [46]:
my_stat.head()

   session_value  time group  n_users
0            0.0    12     B        9
1            NaN    11     A       -1
2            1.0     8     A        1
3            2.0     9     B        3
4            2.0    10     B        9

In [51]:
n_users_median = my_stat.loc[my_stat['n_users'] >= 0, 'n_users'].median()

In [52]:
my_stat.fillna(value={'session_value': 0}, inplace=True)

In [53]:
my_stat.loc[my_stat['n_users'] < 0, 'n_users'] = n_users_median

In [54]:
my_stat

   session_value  time group  n_users
0            0.0    12     B        9
1            0.0    11     A        5
2            1.0     8     A        1
3            2.0     9     B        3
4            2.0    10     B        9
5            3.0     8     A        8
6            0.0    11     B        5
7            0.0     9     A        4
8            0.0     8     B        5
9            0.0     9     A        5