In [40]:
import pandas as pd

In [41]:
my_stat = pd.read_csv('https://stepik.org/media/attachments/course/4852/my_stat_1.csv')

In [42]:
my_stat

   session_value  time group  n_users
0            0.0    12     B        9
1            NaN    11     A       -1
2            1.0     8     A        1
3            2.0     9     B        3
4            2.0    10     B        9
5            3.0     8     A        8
6            NaN    11     B        5
7            0.0     9     A        4
8            0.0     8     B      -11
9            0.0     9     A      -20

##### Этот вариант проходит на степике

In [52]:
mean_session_value_data = my_stat.groupby('group', as_index=False)\
                                 .agg({'session_value': 'mean'})\
                                 .rename(columns={'session_value': 'mean_session_value'})

In [53]:
mean_session_value_data

  group  mean_session_value
0     A                 1.0
1     B                 1.0

##### А этот вариант не проходит на степике

In [48]:
mean_session_value_data = my_stat.groupby('group', as_index=False)\
                                 .agg(mean_session_value = ('session_value', 'mean'))

In [49]:
mean_session_value_data

  group  mean_session_value
0     A                 1.0
1     B                 1.0

##### А этот вроде опять проходит

In [55]:
mean_session_value_data = my_stat.groupby('group', as_index=False)['session_value']\
                                 .agg({'mean_session_value': 'mean'})
mean_session_value_data

  group  mean_session_value
0     A                 1.0
1     B                 1.0