In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [17]:
df = pd.read_csv('https://stepik.org/media/attachments/course/4852/genome_matrix.csv', index_col=0)

In [18]:
df

          species0  species1  species2  species3  species4
species0  0.536029  0.920292  0.679708  0.840606  0.430842
species1  0.920292  0.862417  0.887593  0.769754  0.203214
species2  0.679708  0.887593  0.595156  0.003435  0.096052
species3  0.840606  0.769754  0.003435  0.458870  0.029251
species4  0.430842  0.203214  0.096052  0.029251  0.642109