In [43]:
import pandas as pd
import numpy as np

In [44]:
df = pd.read_csv('https://stepik.org/media/attachments/course/4852/dota_hero_stats.csv')

In [45]:
df.head()

,Unnamed: 0,attack_type,id,legs,localized_name,name,primary_attr,roles
0,0,Melee,1,2,Anti-Mage,npc_dota_hero_antimage,agi,"['Carry', 'Escape', 'Nuker']"
1,1,Melee,2,2,Axe,npc_dota_hero_axe,str,"['Initiator', 'Durable', 'Disabler', 'Jungler']"
2,2,Ranged,3,4,Bane,npc_dota_hero_bane,int,"['Support', 'Disabler', 'Nuker', 'Durable']"
3,3,Melee,4,2,Bloodseeker,npc_dota_hero_bloodseeker,agi,"['Carry', 'Disabler', 'Jungler', 'Nuker', 'Ini..."
4,4,Ranged,5,2,Crystal Maiden,npc_dota_hero_crystal_maiden,int,"['Support', 'Disabler', 'Nuker', 'Jungler']"

#### Решение задачи:

In [46]:
df.groupby('legs')['id'].agg(['count'])

      count
legs
0        11
2        95
4         7
6         3
8         1

In [47]:
df.value_counts('legs')

legs
2    95
0    11
4     7
6     3
8     1
Name: count, dtype: int64

In [61]:
df.groupby('legs')['id'].count()

legs
0    11
2    95
4     7
6     3
8     1
Name: id, dtype: int64

In [63]:
df.agg({'legs': 'value_counts'}).sort_index()

      legs
legs
0       11
2       95
4        7
6        3
8        1

#### Упорядочил всех героев в порядке убывания ног.

In [ ]:
df.sort_values(['legs'], ascending=False)

,Unnamed: 0,attack_type,id,legs,localized_name,name,primary_attr,roles
59,59,Melee,61,8,Broodmother,npc_dota_hero_broodmother,agi,"['Carry', 'Pusher', 'Escape', 'Nuker']"
103,103,Ranged,105,6,Techies,npc_dota_hero_techies,int,"['Nuker', 'Disabler']"
15,15,Melee,16,6,Sand King,npc_dota_hero_sand_king,str,"['Initiator', 'Disabler', 'Support', 'Nuker', ..."
86,86,Melee,88,6,Nyx Assassin,npc_dota_hero_nyx_assassin,agi,"['Disabler', 'Nuker', 'Initiator', 'Escape']"
74,74,Ranged,76,4,Outworld Devourer,npc_dota_hero_obsidian_destroyer,int,"['Carry', 'Nuker', 'Disabler']"
...,...,...,...,...,...,...,...,...
26,26,Melee,28,0,Slardar,npc_dota_hero_slardar,str,"['Carry', 'Durable', 'Initiator', 'Disabler', ..."
14,14,Ranged,15,0,Razor,npc_dota_hero_razor,agi,"['Carry', 'Durable', 'Nuker', 'Pusher']"
38,38,Ranged,40,0,Venomancer,npc_dota_hero_venomancer,agi,"['Support', 'Nuker', 'Initiator', 'Pusher', 'D..."
45,45,Ranged,47,0,Viper,npc_dota_hero_viper,agi,"['Carry', 'Durable', 'Initiator', 'Disabler']"
31,31,Ranged,33,0,Enigma,npc_dota_hero_enigma,int,"['Disabler', 'Jungler', 'Initiator', 'Pusher']"