In [1]:
import pandas as pd

In [8]:
events_data = pd.read_csv('https://stepik.org/media/attachments/course/4852/event_data_train.zip')

In [3]:
submissions_data = pd.read_csv('https://stepik.org/media/attachments/course/4852/submissions_data_train.zip')

### Найти id Анатолия Карпова

##### В выборке отсортированной по количеству всех попыток решения степов он оказался третьим

In [4]:
submissions_data.groupby('user_id')\
                .agg({'submission_status': 'count'})\
                .sort_values('submission_status', ascending=False)\
                .head()

         submission_status
user_id
12265                 1051
3643                   948
1046                   934
14454                  920
643                    888

##### В выборке отсортированной по количеству правильно решенных степов он на первом месте

In [5]:
submissions_data.pivot_table(index='user_id', \
                             columns='submission_status', \
                             values='step_id', \
                             aggfunc='count').sort_values('correct', ascending=False).head()

submission_status  correct  wrong
user_id
1046                 421.0  513.0
5552                 186.0   93.0
17135                168.0  177.0
6183                 142.0   65.0
8461                 135.0   42.0

##### Посмотрим кто первым решил последний степ курса? Это Анатолий

In [9]:
events_data[(events_data.action == 'passed') & (events_data.step_id == events_data.step_id.max())].sort_values('timestamp')

         step_id   timestamp  action  user_id
1780990   158433  1485263664  passed     1046
1781275   158433  1485271669  passed     3931
1781402   158433  1485276014  passed    14985
1782093   158433  1485288441  passed    10626
1782261   158433  1485292242  passed     3876
...          ...         ...     ...      ...
3478762   158433  1526744472  passed    19147
3479191   158433  1526750524  passed    13751
3479506   158433  1526754540  passed    19491
3479620   158433  1526755659  passed     2058
3479953   158433  1526759298  passed    19410

[2317 rows x 4 columns]