In [1]:
import numpy as np
import pandas as pd

In [2]:
data = pd.read_csv('https://stepik.org/media/attachments/course/4852/cats.csv', index_col=0)

In [3]:
data

   Шерстист  Гавкает  Лазает по деревьям      Вид
0         1        1                   0  собачка
1         1        1                   0  собачка
2         1        1                   0  собачка
3         1        1                   0  собачка
4         1        0                   1    котик
5         1        0                   1    котик
6         1        0                   1    котик
7         1        0                   1    котик
8         1        1                   1    котик
9         0        0                   1    котик

$$
S = -\sum^{N}_{i=1}p_i log_2 p_i, \\
IG(Q) = S_O - \sum_{i=1}^{q}\frac{N_i}{N}S_i,
$$

##### Шерстист

In [21]:
E = -4/10*np.log2(4/10) - 6/10*np.log2(6/10)
E

0.9709505944546686

In [22]:
S0_0 = -1/1*np.log2(1/1)
S1_0 = -5/9*np.log2(5/9) - 4/9*np.log2(4/9)
S0_0, S1_0

(-0.0, 0.9910760598382222)

In [23]:
IG_0 = E - 1/10*S0_0 - 9/10*S1_0
IG_0

0.07898214060026854

##### Гавкает

In [26]:
S0_1 = -5/5*np.log2(5/5)
S1_1 = -4/5*np.log2(4/5) - 1/5*np.log2(1/5)
S0_1, S1_1

(-0.0, 0.7219280948873623)

In [27]:
IG_1 = E - 5/10*S0_1 - 5/10*S1_1
IG_1

0.6099865470109874

##### Лазает по деревьям

In [28]:
S0_2 = -4/4*np.log2(4/4)
S1_2 = -6/6*np.log2(6/6)
S0_2, S1_2

(-0.0, -0.0)

In [29]:
IG_2 = E - 4/10*S0_2 - 6/10*S1_2
IG_2

0.9709505944546686