In [1]:
import pandas as pd
import matplotlib as plt
import seaborn as sns

In [2]:
df = pd.read_csv('parser_broker_report.csv')
df['Дата'] = pd.to_datetime(df['Дата'])

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 278 entries, 0 to 277
Data columns (total 19 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Наименование    278 non-null    object
 1   ISIN            278 non-null    object
 2   Валюта          278 non-null    object
 3   Количество_нп   278 non-null    int64
 4   Номинал_нп      278 non-null    float64
 5   Цена_нп         278 non-null    float64
 6   Стоимость_нп    278 non-null    float64
 7   НКД_нп          278 non-null    float64
 8   Количество_кп   278 non-null    int64
 9   Номинал_кп      278 non-null    float64
 10  Цена_кп         278 non-null    float64
 11  Стоимость_кп    278 non-null    float64
 12  НКД_кп          278 non-null    float64
 13  Количество_изп  278 non-null    int64
 14  Стоимость_изп   278 non-null    float64
 15  Зачисления      278 non-null    int64
 16  Списания        278 non-null    int64
 17  Остаток         278 non-null    int64
 18  Дата            278 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(9), int64(6), object(3)
memory usage: 41.4+ KB

In [4]:
portfolio = df[df['Дата'] == df['Дата'].max()]
portfolio

,Наименование,ISIN,Валюта,Количество_нп,Номинал_нп,Цена_нп,Стоимость_нп,НКД_нп,Количество_кп,Номинал_кп,Цена_кп,Стоимость_кп,НКД_кп,Количество_изп,Стоимость_изп,Зачисления,Списания,Остаток,Дата
35,25084,RU000A101FA1,RUB,35,1000.000,99.261,34741.35,284.55,35,1000.000,99.547,34841.45,437.15,0,100.10,0,0,35,2023-06-30
36,RSHEETF,RU000A100HQ5,RUB,81,1.000,94.210,7631.01,0.00,81,1.000,94.210,7631.01,0.00,0,0.00,0,0,81,2023-06-30
37,SBSPETF,RU000A1006W1,RUB,5,1.000,1719.000,8595.00,0.00,5,1.000,1719.000,8595.00,0.00,0,0.00,0,0,5,2023-06-30
38,YandexclA,NL0009805522,RUB,0,0.010,2290.200,0.00,0.00,1,0.010,2445.400,2445.40,0.00,1,2445.40,0,0,1,2023-06-30
39,БПИФбрутто,RU000A0ZZH92,RUB,830,1.000,15.041,12484.03,0.00,830,1.000,15.804,13117.32,0.00,0,633.29,0,0,830,2023-06-30
40,ГАЗПРОМао,RU0007661625,RUB,30,5.000,162.330,4869.90,0.00,30,5.000,166.880,5006.40,0.00,0,136.50,0,0,30,2023-06-30
41,ЛУКОЙЛ,RU0009024277,RUB,1,0.025,5553.500,5553.50,0.00,1,0.025,5099.000,5099.00,0.00,0,-454.50,0,0,1,2023-06-30
42,Магнитао,RU000A0JKQU8,RUB,0,0.010,4164.000,0.00,0.00,1,0.010,5138.000,5138.00,0.00,1,5138.00,0,0,1,2023-06-30
43,МТС-ао,RU0007775219,RUB,10,0.100,315.700,3157.00,0.00,20,0.100,299.100,5982.00,0.00,10,2825.00,0,0,20,2023-06-30
44,Сбербанк,RU0009029540,RUB,20,3.000,243.940,4878.80,0.00,30,3.000,239.450,7183.50,0.00,10,2304.70,0,0,30,2023-06-30