In [1]:
import mysql.connector

In [2]:
mydb = mysql.connector.connect(
    host = 'localhost',
    user = 'root',
    password = '143'
)

In [3]:
mydb

In [4]:
mycursor = mydb.cursor()
mycursor.execute('CREATE DATABASE test_python_database')

In [11]:
mycursor.execute('SHOW DATABASES')

In [6]:
for x in mycursor:
    print(x)

('information_schema',)
('mysql',)
('performance_schema',)
('stepik_bookstore',)
('stepik_bookstore_4_1',)
('stepik_enrollee',)
('stepik_lesson',)
('stepik_sql',)
('stepik_testing',)
('sys',)
('test_python_database',)

In [29]:
mydb_test = mysql.connector.connect(
    host = 'localhost',
    user = 'root',
    password = '143',
    database = 'test_python_database'
)

In [32]:
mycursor = mydb_test.cursor()

In [33]:
mycursor.execute('''CREATE TABLE customers (
    name VARCHAR(255),
    address VARCHAR(255)
    )'''
)

In [34]:
mycursor.execute('show tables')

In [35]:
for i in mycursor:
    print(i)

('customers',)

In [36]:
mycursor.execute('describe customers')

In [37]:
for i in mycursor:
    print(i)

('name', b'varchar(255)', 'YES', '', None, '')
('address', b'varchar(255)', 'YES', '', None, '')

In [45]:
mycursor.execute('''
    ALTER TABLE customers
    ADD COLUMN id INT AUTO_INCREMENT PRIMARY KEY
    '''
)

In [46]:
mycursor.execute('describe customers')
for i in mycursor:
    print(i)

('name', b'varchar(255)', 'YES', '', None, '')
('address', b'varchar(255)', 'YES', '', None, '')
('id', b'int', 'NO', 'PRI', None, 'auto_increment')

In [48]:
mycursor.execute('''
    ALTER TABLE customers
    ADD email VARCHAR(255)
''')

In [49]:
mycursor.execute('describe customers')
for i in mycursor:
    print(i)

('name', b'varchar(255)', 'YES', '', None, '')
('address', b'varchar(255)', 'YES', '', None, '')
('id', b'int', 'NO', 'PRI', None, 'auto_increment')
('email', b'varchar(255)', 'YES', '', None, '')

In [50]:
mycursor.execute('''
    ALTER TABLE customers
    DROP email
''')

In [51]:
mycursor.execute('describe customers')
for i in mycursor:
    print(i)

('name', b'varchar(255)', 'YES', '', None, '')
('address', b'varchar(255)', 'YES', '', None, '')
('id', b'int', 'NO', 'PRI', None, 'auto_increment')

In [52]:
mycursor.execute('''
    ALTER TABLE customers
    ADD email VARCHAR(50) FIRST
''')

In [53]:
mycursor.execute('describe customers')
for i in mycursor:
    print(i)

('email', b'varchar(50)', 'YES', '', None, '')
('name', b'varchar(255)', 'YES', '', None, '')
('address', b'varchar(255)', 'YES', '', None, '')
('id', b'int', 'NO', 'PRI', None, 'auto_increment')

In [55]:
mycursor.execute('''
    ALTER TABLE customers
    DROP email,
    DROP id
''')

In [56]:
mycursor.execute('describe customers')
for i in mycursor:
    print(i)

('name', b'varchar(255)', 'YES', '', None, '')
('address', b'varchar(255)', 'YES', '', None, '')

In [57]:
mycursor.execute('''
    ALTER TABLE customers
    ADD id INT AUTO_INCREMENT PRIMARY KEY FIRST
''')

In [58]:
mycursor.execute('describe customers')
for i in mycursor:
    print(i)

('id', b'int', 'NO', 'PRI', None, 'auto_increment')
('name', b'varchar(255)', 'YES', '', None, '')
('address', b'varchar(255)', 'YES', '', None, '')