In [3]:
import mysql.connector

In [2]:
mydb = mysql.connector.connect(
    host = 'localhost',
    user = 'root',
    password = '143'
)

In [3]:
mydb

In [4]:
mycursor = mydb.cursor()
mycursor.execute('CREATE DATABASE test_python_database')

In [11]:
mycursor.execute('SHOW DATABASES')

In [6]:
for x in mycursor:
    print(x)

('information_schema',)
('mysql',)
('performance_schema',)
('stepik_bookstore',)
('stepik_bookstore_4_1',)
('stepik_enrollee',)
('stepik_lesson',)
('stepik_sql',)
('stepik_testing',)
('sys',)
('test_python_database',)

In [4]:
mydb_test = mysql.connector.connect(
    host = 'localhost',
    user = 'root',
    password = '143',
    database = 'test_python_database'
)

In [5]:
mycursor = mydb_test.cursor()

In [33]:
mycursor.execute('''CREATE TABLE customers (
    name VARCHAR(255),
    address VARCHAR(255)
    )'''
)

In [12]:
mycursor.execute('show tables')

In [13]:
for i in mycursor:
    print(i)

('customers',)

In [36]:
mycursor.execute('describe customers')

In [37]:
for i in mycursor:
    print(i)

('name', b'varchar(255)', 'YES', '', None, '')
('address', b'varchar(255)', 'YES', '', None, '')

In [45]:
mycursor.execute('''
    ALTER TABLE customers
    ADD COLUMN id INT AUTO_INCREMENT PRIMARY KEY
    '''
)

In [46]:
mycursor.execute('describe customers')
for i in mycursor:
    print(i)

('name', b'varchar(255)', 'YES', '', None, '')
('address', b'varchar(255)', 'YES', '', None, '')
('id', b'int', 'NO', 'PRI', None, 'auto_increment')

In [48]:
mycursor.execute('''
    ALTER TABLE customers
    ADD email VARCHAR(255)
''')

In [49]:
mycursor.execute('describe customers')
for i in mycursor:
    print(i)

('name', b'varchar(255)', 'YES', '', None, '')
('address', b'varchar(255)', 'YES', '', None, '')
('id', b'int', 'NO', 'PRI', None, 'auto_increment')
('email', b'varchar(255)', 'YES', '', None, '')

In [50]:
mycursor.execute('''
    ALTER TABLE customers
    DROP email
''')

In [51]:
mycursor.execute('describe customers')
for i in mycursor:
    print(i)

('name', b'varchar(255)', 'YES', '', None, '')
('address', b'varchar(255)', 'YES', '', None, '')
('id', b'int', 'NO', 'PRI', None, 'auto_increment')

In [52]:
mycursor.execute('''
    ALTER TABLE customers
    ADD email VARCHAR(50) FIRST
''')

In [53]:
mycursor.execute('describe customers')
for i in mycursor:
    print(i)

('email', b'varchar(50)', 'YES', '', None, '')
('name', b'varchar(255)', 'YES', '', None, '')
('address', b'varchar(255)', 'YES', '', None, '')
('id', b'int', 'NO', 'PRI', None, 'auto_increment')

In [55]:
mycursor.execute('''
    ALTER TABLE customers
    DROP email,
    DROP id
''')

In [56]:
mycursor.execute('describe customers')
for i in mycursor:
    print(i)

('name', b'varchar(255)', 'YES', '', None, '')
('address', b'varchar(255)', 'YES', '', None, '')

In [57]:
mycursor.execute('''
    ALTER TABLE customers
    ADD id INT AUTO_INCREMENT PRIMARY KEY FIRST
''')

In [58]:
mycursor.execute('describe customers')
for i in mycursor:
    print(i)

('id', b'int', 'NO', 'PRI', None, 'auto_increment')
('name', b'varchar(255)', 'YES', '', None, '')
('address', b'varchar(255)', 'YES', '', None, '')

In [14]:
sql = '''INSERT INTO customers (name, address) VALUES (%s, %s)'''
val = ('Stas', 'Glazurnaya 10')
mycursor.execute(sql, val)
mydb_test.commit()

In [15]:
mycursor.rowcount

1

In [18]:
mycursor.execute('select * from customers')

In [20]:
print(*mycursor)

(1, 'Stas', 'Glazurnaya 10')

In [22]:
sql = 'INSERT INTO customers (name, address) VALUES (%s, %s)'
val = [
    ('Peter', 'Lowstreet 4'),
    ('Amy', 'Apple st 652'),
    ('Hannah', 'Mountain 21'),
    ('Michael', 'Valley 345'),
    ('Sandy', 'Ocean blvd 2'),
    ('Betty', 'Green Grass 1'),
    ('Richard', 'Sky st 331'),
    ('Susan', 'One way 98'),
    ('Vicky', 'Yellow Garden 2'),
    ('Ben', 'Park Lane 38'),
    ('William', 'Central st 954'),
    ('Chuck', 'Main Road 989'),
    ('Viola', 'Sideway 1633')
]

mycursor.executemany(sql, val)

mydb_test.commit()

In [24]:
print(mycursor.rowcount)

13

In [25]:
mycursor.execute('select * from customers')
print(*mycursor, sep='\n')

(1, 'Stas', 'Glazurnaya 10')
(2, 'Peter', 'Lowstreet 4')
(3, 'Amy', 'Apple st 652')
(4, 'Hannah', 'Mountain 21')
(5, 'Michael', 'Valley 345')
(6, 'Sandy', 'Ocean blvd 2')
(7, 'Betty', 'Green Grass 1')
(8, 'Richard', 'Sky st 331')
(9, 'Susan', 'One way 98')
(10, 'Vicky', 'Yellow Garden 2')
(11, 'Ben', 'Park Lane 38')
(12, 'William', 'Central st 954')
(13, 'Chuck', 'Main Road 989')
(14, 'Viola', 'Sideway 1633')

In [27]:
sql = 'INSERT INTO customers (name, address) VALUES (%s, %s)'
val = ('Michelle', 'Blue Village')
mycursor.execute(sql, val)
mydb_test.commit()

In [28]:
mycursor.lastrowid

15

In [36]:
mycursor.execute('SELECT * FROM customers')

In [37]:
myresult = mycursor.fetchall()

In [38]:
print(*myresult, sep='\n')

(1, 'Stas', 'Glazurnaya 10')
(2, 'Peter', 'Lowstreet 4')
(3, 'Amy', 'Apple st 652')
(4, 'Hannah', 'Mountain 21')
(5, 'Michael', 'Valley 345')
(6, 'Sandy', 'Ocean blvd 2')
(7, 'Betty', 'Green Grass 1')
(8, 'Richard', 'Sky st 331')
(9, 'Susan', 'One way 98')
(10, 'Vicky', 'Yellow Garden 2')
(11, 'Ben', 'Park Lane 38')
(12, 'William', 'Central st 954')
(13, 'Chuck', 'Main Road 989')
(14, 'Viola', 'Sideway 1633')
(15, 'Michelle', 'Blue Village')

In [43]:
mycursor.execute("""
    SELECT name, address
    FROM customers
""")

In [44]:
myresult = mycursor.fetchall()
print(*myresult, sep='\n')

('Stas', 'Glazurnaya 10')
('Peter', 'Lowstreet 4')
('Amy', 'Apple st 652')
('Hannah', 'Mountain 21')
('Michael', 'Valley 345')
('Sandy', 'Ocean blvd 2')
('Betty', 'Green Grass 1')
('Richard', 'Sky st 331')
('Susan', 'One way 98')
('Vicky', 'Yellow Garden 2')
('Ben', 'Park Lane 38')
('William', 'Central st 954')
('Chuck', 'Main Road 989')
('Viola', 'Sideway 1633')
('Michelle', 'Blue Village')

In [46]:
sql = """
    SELECT *
    FROM customers
    WHERE address LIKE 'Glazurnaya%'
"""

mycursor.execute(sql)
myresult = mycursor.fetchall()

In [47]:
myresult

[(1, 'Stas', 'Glazurnaya 10')]

In [50]:
sql = """
    SELECT *
    FROM customers
    WHERE address LIKE %s
"""
adr = ('Glazurnaya%',)

mycursor.execute(sql, adr)
myresult = mycursor.fetchall()

In [51]:
myresult

[(1, 'Stas', 'Glazurnaya 10')]

In [6]:
sql = 'SELECT * FROM customers ORDER BY name'
mycursor.execute(sql)
myresult = mycursor.fetchall()

ProgrammingError: 1146 (42S02): Table 'test_python_database.customers' doesn't exist

In [53]:
myresult

[(3, 'Amy', 'Apple st 652'),
 (11, 'Ben', 'Park Lane 38'),
 (7, 'Betty', 'Green Grass 1'),
 (13, 'Chuck', 'Main Road 989'),
 (4, 'Hannah', 'Mountain 21'),
 (5, 'Michael', 'Valley 345'),
 (15, 'Michelle', 'Blue Village'),
 (2, 'Peter', 'Lowstreet 4'),
 (8, 'Richard', 'Sky st 331'),
 (6, 'Sandy', 'Ocean blvd 2'),
 (1, 'Stas', 'Glazurnaya 10'),
 (9, 'Susan', 'One way 98'),
 (10, 'Vicky', 'Yellow Garden 2'),
 (14, 'Viola', 'Sideway 1633'),
 (12, 'William', 'Central st 954')]

In [8]:
sql = 'DELETE FROM customers WHERE address = "Mountain 21"'
mycursor.execute(sql)
mydb_test.commit()
mycursor.rowcount

ProgrammingError: 1146 (42S02): Table 'test_python_database.customers' doesn't exist

In [7]:
sql = 'DROP TABLE if EXISTS customers'
mycursor.execute(sql)